@model IEnumerable<NhaXe_QuocVuong.Models.LichTrinhViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />

}


<div class="container row " style="margin-top:35px">
    <div class="col-md-2">
        <div style="border: black solid 1px; border-radius: 5px ">
            <div class="p-3">
                <p><strong style="font-size:larger;">Sắp xếp</strong></p>
                <input type="radio" name="Sort" class="large-radio" value="Mặc định" /> Mặc định <br />
                <input type="radio" name="Sort" class="large-radio" value="Giờ đi sớm nhất" /> Giờ đi sớm nhất <br />
                <input type="radio" name="Sort" class="large-radio" value="Giờ đi muộn nhất" /> Giờ đi muộn nhất <br />
                <input type="radio" name="Sort" class="large-radio" value="Giá tăng dần" /> Giá tăng dần <br />
                <input type="radio" name="Sort" class="large-radio" value="Giá giảm dần" /> Giá giảm dần
            </div>
        </div>
    </div>

    <div class="col-md-8" style="margin-bottom:50px">
        @foreach (var item in Model)
        {
            <div class="container-LichTrinh row" style="margin:30px 0 30px 0">
                <div class="col-4">
                    <img src="~/img/NhaXe.jpg" width="160px" />
                </div>
                <div class="col-4 " style="font-size: larger">
                    <strong>Nhà xe Quốc Vương</strong><br />
                    <label>@item.LichTrinh.Xe.LOAI_XE: @item.LichTrinh.Xe.SO_GHE chỗ</label> <br />
                    <label><i class="fa-solid fa-location-crosshairs"></i> @string.Format("{0:hh:MM}", item.LichTrinh.KHOI_HANH) ● @item.LichTrinh.TuyenDuong.TEN_TUYEN.Split('-')[0]</label><br />
                    <label><i class='fas fa-angle-double-down'></i> @item.LichTrinh.TuyenDuong.THOI_GIAN_DUY_CHUYEN h</label> <br />
                    <label><i class='fas fa-map-marker-alt'></i> @string.Format("{0:hh:MM}", item.LichTrinh.KET_THUC) ●  @item.LichTrinh.TuyenDuong.TEN_TUYEN.Split('-')[1]</label>
                </div>
                <div class="col-4" style="text-align: right; font-size: larger">
                    <strong class="text-primary">@string.Format("{0:0,00} đ", item.LichTrinh.GIA_VE)</strong><br />
                    <label style="color:lightgray">Còn @item.SoChoConLai chỗ trống</label><br /><br /><br />
                </div>
                <div>
                    <a href="@Url.Action("DatVe", "LichTrinh", new { MaLichTrinh = item.LichTrinh.MA_LICH_TRINH })" class="btn btn-warning" style="float:right;margin-bottom:30px"class="btn btn-warning" style="float:right;margin-bottom:30px">Chọn chuyến</a>
                </div>
            </div>
        }
    </div>
</div>




