@model IEnumerable<NhaXe_QuocVuong.Models.LichTrinhViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />

}


<div class="container row " style="margin-top:35px">
    <div class="col-md-2">
        <div style="border: black solid 1px; border-radius: 5px ">
            <div class="p-3">
                <p><strong style="font-size:larger;">Sắp xếp</strong></p>
                <input type="radio" name="Sort" class="large-radio" value="Mặc định" /> Mặc định <br />
                <input type="radio" name="Sort" class="large-radio" value="Giờ đi sớm nhất" /> Giờ đi sớm nhất <br />
                <input type="radio" name="Sort" class="large-radio" value="Giờ đi muộn nhất" /> Giờ đi muộn nhất <br />
                <input type="radio" name="Sort" class="large-radio" value="Giá tăng dần" /> Giá tăng dần <br />
                <input type="radio" name="Sort" class="large-radio" value="Giá giảm dần" /> Giá giảm dần
            </div>
        </div>
    </div>

    <div class="col-md-8" style="margin-bottom:50px">
        @foreach (var item in Model)
        {
            <div class="container-LichTrinh row" style="margin:30px 0 30px 0">
                <div class="col-4">
                    <img src="~/img/NhaXe.jpg" width="160px" />
                </div>
                <div class="col-4 " style="font-size: larger">
                    <strong>Nhà xe Quốc Vương</strong><br />
                    <label>@item.LichTrinh.Xe.LOAI_XE: @item.LichTrinh.Xe.SO_GHE chỗ</label> <br />
                    <label><i class="fa-solid fa-location-crosshairs"></i> @string.Format("{0:hh:MM}", item.LichTrinh.KHOI_HANH) ● @item.LichTrinh.TuyenDuong.TEN_TUYEN.Split('-')[0]</label><br />
                    <label><i class='fas fa-angle-double-down'></i> @item.LichTrinh.TuyenDuong.THOI_GIAN_DUY_CHUYEN h</label> <br />
                    <label><i class='fas fa-map-marker-alt'></i> @string.Format("{0:hh:MM}", item.LichTrinh.KET_THUC) ●  @item.LichTrinh.TuyenDuong.TEN_TUYEN.Split('-')[1]</label>
                </div>
                <div class="col-4" style="text-align: right; font-size: larger">
                    <strong class="text-primary">@string.Format("{0:0,00} đ", item.LichTrinh.GIA_VE)</strong><br />
                    <label style="color:lightgray">Còn @item.SoChoConLai chỗ trống</label><br /><br /><br />
                </div>
                <div>
                    <button class="btn btn-warning load-schedule" data-id="@item.LichTrinh.MA_LICH_TRINH" style="float:right;margin-bottom:30px">Chọn chuyến</button>
                    <div id="schedule-container-@item.LichTrinh.MA_LICH_TRINH">
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@*<script src="~/Content/js/jquery/jquery-3.7.1.min.js"></script>*@
<script src="~/Content/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $('#schedule-container').on('click', '.seat', function () {
            var seat = this;
            console.log("Ghế được nhấn:", seat.getAttribute('data-seat')); // Debug để kiểm tra
            // Kiểm tra trạng thái hiện tại của ghế
            var currentState = seat.getAttribute('data-tinh-trang');
            console.log("Trạng thái hiện tại:", currentState); // Debug để kiểm tra trạng thái hiện tại
            if (currentState === 'False') {
                // Nếu ghế còn trống thì chọn ghế (đổi ảnh sang Ghe_6.png) và cập nhật trạng thái
                console.log("Ảnh ghế:", seat.src);
                seat.src = "/img/IconGhe/Ghe_6.png";
                seat.setAttribute('data-tinh-trang', 'selected');
            } else if (currentState === 'selected') {
                // Nếu ghế đã được chọn, đổi ảnh lại thành Ghế trống và đặt trạng thái về false
                seat.src = "/img/IconGhe/Ghe_1.png";
                seat.setAttribute('data-tinh-trang', 'False');
            }
        });

        $('.load-schedule').click(function (e) {
            e.preventDefault(); // Ngăn việc làm mới trang nếu có thẻ <a> bao quanh nút
            var maLichTrinh = $(this).data('id');
            var scheduleContainer = '#schedule-container-' + maLichTrinh; // Mỗi chuyến sẽ có container riêng
            $.ajax({
               url: '@Url.Action("DatVe", "LichTrinh")',
                type: 'GET',
                data: { MaLichTrinh: maLichTrinh  },
                success: function (data) {
                    $(scheduleContainer).html(data); // Chèn kết quả vào container
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi:', error);
                    console.error('Trạng thái:', status);
                    console.error('Phản hồi từ server:', xhr.responseText);
                    alert('Có lỗi xảy ra! Kiểm tra console để biết thêm chi tiết.');
                }
            });
        });
    });
</script>

